<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
{#            index.html#}
	      <a class="navbar-brand" href="#">Coffee<small>Blend</small></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
{#                index.html#}
                <li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
{#                menu.html#}
	          <li class="nav-item"><a href="#" class="nav-link">Menu</a></li>
{#                services.html#}
	          <li class="nav-item"><a href="#" class="nav-link">Services</a></li>
{#                blog.html#}
	          <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
{#                about.html#}
	          <li class="nav-item"><a href="#" class="nav-link">About</a></li>
	          <li class="nav-item dropdown">
{#                  shop.html#}
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
{#                  shop.html#}
              	<a class="dropdown-item" href="#">Shop</a>
{#                  product-single.html#}
                <a class="dropdown-item" href="#">Single Product</a>
{#                  cart.html#}
                <a class="dropdown-item" href="#">Cart</a>
{#                  checkout.html#}
                <a class="dropdown-item" href="#">Checkout</a>
              </div>
            </li>
{#                contact.html#}
	          <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
{#                cart.html#}
	          <li class="nav-item cart"><a href="#" class="nav-link"><span class="icon icon-shopping_cart"></span><span class="bag d-flex justify-content-center align-items-center"><small>1</small></span></a></li>
	        </ul>
	      </div>
		  </div>
	  </nav>
    <!-- END nav -->