{% extends "base.html" %}
{% load static %}
{%  block title %}{% endblock %}
{%  block content %}

    <section class="home-slider owl-carousel">

      <div class="slider-item" style="background-image: url({% static 'images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-5 bread">Checkout</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'cafe:index' %}">Home</a></span> <span>Checout</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 ftco-animate">
						<form action="{% url cafe:cart-receipt user_id}" class="billing-form ftco-bg-dark p-3 p-md-5" method="post" novalidate>
							<h3 class="mb-4 billing-heading">Billing Details</h3>
	          	<div class="row align-items-end">
	          		<div class="col-md-6">
	                <div class="form-group">
                        {% csrf_token %}

	                	<label >Firt Name</label>
						{{ form.firstname }}
<!--	                  <input type="text" class="form-control" placeholder="" value={{ form.firstname }}>-->
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label >Last Name</label>
						{{form.lastname}}

	                </div>
                </div>
                <div class="w-100"></div>
		            <div class="col-md-12">
		            	<div class="form-group">
		            		<label >City</label>
		            		<div class="select-wrap">
		                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
								{{form.user_city}}
<!--		                  <select name="" id="" class="form-control">-->
<!--		                  	<option value="">France</option>-->
<!--		                    <option value="">Italy</option>-->
<!--		                    <option value="">Philippines</option>-->
<!--		                    <option value="">South Korea</option>-->
<!--		                    <option value="">Hongkong</option>-->
<!--		                    <option value="">Japan</option>-->
<!--		                  </select>-->
		                </div>
		            	</div>
		            </div>
		            <div class="w-100"></div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                	<label >Address</label>
							{{form.user_address}}
	                </div>
		            </div>
<!--		            <div class="col-md-6">-->
<!--		            	<div class="form-group">-->
<!--	                  <input type="text" class="form-control" placeholder="Appartment, suite, unit etc: (optional)">-->
<!--	                </div>-->
<!--		            </div>-->
<!--		            <div class="w-100"></div>-->
<!--		            <div class="col-md-6">-->
<!--		            	<div class="form-group">-->
<!--	                	<label for="towncity">Town / City</label>-->
<!--	                  <input type="text" class="form-control" placeholder="">-->
<!--	                </div>-->
<!--		            </div>-->
		            <div class="col-md-6">
		            	<div class="form-group">
		            		<label >Postcode / ZIP *</label>
							{{form.user_postcode}}
							<div style="font-size: 10px">{{ form.phonenumber.errors }}</div>
	                </div>
		            </div>
		            <div class="w-100"></div>
		            <div class="col-md-6">
	                <div class="form-group">
	                	<label >Phone</label>
						{{form.phonenumber}}
						<div style="font-size: 10px">{{ form.user_postcode.errors }}</div>
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label >Email Address</label>
						{{form.email}}
						<div style="font-size: 10px">{{ form.email.errors }}</div>
	                </div>

                </div>
                <div class="w-100"></div>

                <div class="col-md-12">
                	<div class="form-group mt-4">
					<p class="btn btn-primary py-3 px-4">accept information</p>
<!--										<div class="radio">-->
<!--										  <label class="mr-3"><input type="radio" name="optradio"> Create an Account? </label>-->
<!--										  <label><input type="radio" name="optradio"> Ship to different address</label>-->
<!--										</div>-->
									</div>
                </div>
	            </div>
	          </form><!-- END -->



	          <div class="row mt-5 pt-3 d-flex">
	          	<div class="col-md-6 d-flex">
	          		<div class="cart-detail cart-total ftco-bg-dark p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Cart Total</h3>
	          			<p class="d-flex">
		    						<span>Subtotal</span>
		    						<span>${{subtotal}}</span>
		    					</p>
		    					<p class="d-flex">
		    						<span>Delivery</span>
		    						<span>${{delivery_cost}}</span>
		    					</p>
		    					<p class="d-flex">
		    						<span>Discount</span>

		    						<span>{{discount_total}}%</span>

		    					</p>
		    					<hr>
		    					<p class="d-flex total-price">
		    						<span>Total</span>
		    						<span>${{total}}</span>
		    					</p>
								</div>
	          	</div>
	          	<div class="col-md-6">
	          		<div class="cart-detail ftco-bg-dark p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Payment Method</h3>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" class="mr-2"> Direct Bank Tranfer</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" class="mr-2"> Check Payment</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" class="mr-2"> Paypal</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="checkbox">
											   <label><input type="checkbox" value="" class="mr-2"> I have read and accept the terms and conditions</label>
											</div>
										</div>
									</div>
									<p><a href="#"class="btn btn-primary py-3 px-4">Place an order</a></p>
								</div>
	          	</div>
	          </div>
          </div> <!-- .col-md-8 -->




          <div class="col-xl-4 sidebar ftco-animate">
			  <div class="sidebar-box">
              <form action="{% url 'cafe:cart-receipt' order.user_id %}" class="search-form" method="get">
                <div class="form-group">
                	<div class="icon">
	                  <span class="icon-search"></span>

                  </div>
					{{search.search_form.as_p}}
                </div>

              </form>
            </div>
			{% if search.items %}
			<h2 class="search-form">Search Results</h2>
			<ul>
			  {% for item in search.items %}
				<li>
				  <a>{{ item.title }}</a>
				  <p>{{ item.description|truncatewords:10 }}</p>
				</li>
			  {% endfor %}
			</ul>
		  {% else %}
			<p>No items found.</p>
		  {% endif %}
            <div class="sidebar-box ftco-animate">
              <div class="categories">
                <h3>Categories</h3>
				  <ul>
				    {% for item in category_item_counts %}
				  <li><a href="{% url 'cafe:menu' %}" target="_blank">{{ item.title }} <span>({{item.item_count}})</span></a></li>
				  {% endfor %}
					  </ul>
<!--                <li><a href="#">Tour <span>(12)</span></a></li>-->
<!--                <li><a href="#">Hotel <span>(22)</span></a></li>-->
<!--                <li><a href="#">Coffee <span>(37)</span></a></li>-->
<!--                <li><a href="#">Drinks <span>(42)</span></a></li>-->
<!--                <li><a href="#">Foods <span>(14)</span></a></li>-->
<!--                <li><a href="#">Travel <span>(140)</span></a></li>-->
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Recent Blog</h3>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url({% static 'images/image_1.jpg' %});"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url({% static 'images/image_2.jpg' %});"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url({% static 'images/image_3.jpg' %});"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Tag Cloud</h3>
              <div class="tagcloud">
				   {% for tag in all_tag %}
        			<a href="{% url 'cafe:items_by_tag' tag_slug=tag %}" target="_blank">
            			{{ tag }}
       				 </a>
				  {% if not forloop.last %}{% endif %}
   				 {% endfor %}






<!--                <a href="#" class="tag-cloud-link">dish</a>-->
<!--                <a href="#" class="tag-cloud-link">menu</a>-->
<!--                <a href="#" class="tag-cloud-link">food</a>-->
<!--                <a href="#" class="tag-cloud-link">sweet</a>-->
<!--                <a href="#" class="tag-cloud-link">tasty</a>-->
<!--                <a href="#" class="tag-cloud-link">delicious</a>-->
<!--                <a href="#" class="tag-cloud-link">desserts</a>-->
<!--                <a href="#" class="tag-cloud-link">drinks</a>-->
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Paragraph</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
            </div>
          </div>

        </div>
      </div>
    </section> <!-- .section -->

  <script>
		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
	</script>
{% endblock %}