{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>{{item.id}}</h1>

<section class="home-slider owl-carousel">

      <div class="slider-item" style="background-image: url({% static 'images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-5 bread">Product Detail</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="#">Home</a></span> <span>Product Detail</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-6 mb-5 ftco-animate">
    				<a href="{% static 'images/menu-2.jpg' %}" class="image-popup"><img src={% static image.image%} class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
    				<h3>{{item.title}}</h3>
    				<p class="price"><span>{{item.price}}</span></p>
    				<p>{{item.description}}</p>
    				
						<div class="row mt-4">
							<div class="col-md-6">
								<div class="form-group d-flex">
		              <div class="select-wrap">
	                  
	                  
	                </div>
		            </div>
							</div>
							<div class="w-100"></div>
							<div class="input-group col-md-6 d-flex mb-3">
	             	<span class="input-group-btn mr-2">
	                	<button type="button" class="quantity-left-minus btn"  data-type="minus" data-field="">
	                   <i class="icon-minus"></i>
	                	</button>
	            		</span>
	             	<input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
	             	<span class="input-group-btn ml-2">
	                	<button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
	                     <i class="icon-plus"></i>
	                 </button>
	             	</span>
	          	</div>
          	</div>
          	<p><a href='{% url "cafe:cart" %}' id="add_to_cart" class=" btn btn-primary py-3 px-5">Add to Cart</a></p>
    			</div>
    		</div>
    	</div>
    </section>

 <script>

 const csrftoken = '{{ csrf_token }}';
 function getCsrfTokenFromCookies() {
  let csrfToken = null;
  if (document.cookie && document.cookie !== '') {
    const cookies = document.cookie.split(';');
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      if (cookie.startsWith('csrftoken=')) {
        csrfToken = decodeURIComponent(cookie.substring('csrftoken='.length));
        break;
      }
    }
  }
  return csrfToken;
}
const product = {
  id: "{{item.id}}",
  name: "{{item.title}}",
  quantity: 1,
  price: "{{ item.price }}",
  discount: "{{ item.discount }}",
  description: "{{ item.description}}",

};


// const url = new URL("blob:https://mozilla.org:443/");

document.getElementById('add_to_cart').addEventListener('click', function() {
  sessionStorage.setItem('order', JSON.stringify(product));

    const baseUrl = window.location.origin
    const csrfToken = getCsrfTokenFromCookies();
    debugger
  fetch(`${baseUrl}/cart/`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrfToken
    },
    body: sessionStorage.getItem('order')
  })
  .then(response => response.json())
  .then(data => {
    console.log('Data saved:', data);
    sessionStorage.setItem("data",data);
  })
  .catch(error => {
    console.error('Error:', error);
    sessionStorage.setItem("Error",error);
  });
})
// const product = {
// id: "{{ item.id }}",
// name: "{{ item.title }}",
// quantity: 1,
// price: "{{ item.price }}",
// discount: "{{ item.discount }}",
// description: "{{ item.description }}"
// };
//
// document.getElementById('add_to_cart').addEventListener('click', function() {
// const baseUrl = window.location.origin
// fetch(`${baseUrl}/cart/`, {
//  method: 'POST',
//  headers: {
//    'Content-Type': 'application/json',
//    'X-CSRFToken': getCsrfTokenFromCookies('csrftoken')
//  },
//  body: JSON.stringify(product)
// })
// .then(response => response.json())
// .then(data => {
//  console.log('Data saved:', data);
//  sessionStorage.setItem("data", JSON.stringify(data));
// })
// .catch(error => {
//  console.error('Error:', error);
//  sessionStorage.setItem("Error", JSON.stringify(error));
// });
// });

// function getCookie(name) {
//  let cookieValue = null;
//  if (document.cookie && document.cookie !== '') {
//      const cookies = document.cookie.split(';');
//      for (let i = 0; i < cookies.length; i++) {
//          const cookie = cookies[i].trim();
//          if (cookie.substring(0, name.length + 1) === (name + '=')) {
//              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
//              break;
//          }
//      }
//  }
//  return cookieValue;
// }
</script>

{% endblock %}
