{% extends 'base_account.html' %}
{% load static %}
{% block title %}Login{% endblock %}
  {% block content %}
    <!-- END nav -->
    <section class="ftco-section">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card " style="border-radius: 1rem; background: linear-gradient(to bottom, #251001, #836a4b);">
                        <div class="row m-3 g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <!-- Center the image within the left column -->
                                <div class="d-flex align-items-center  m-3 h-100">
                                    <img src="{% static 'images/menu-4.jpg' %}" alt="login form" class="img-fluid"
                                        style="border-radius: 1rem 0 0 1rem; margin: 0 auto;" />
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                              <form action="{% url 'account:User_login' %}" method="post" class=" col-md-6 col-lg-12">
                                {% csrf_token %}
                                <div class="d-flex align-items-center mb-3 pb-1">
                                <i class="fas fa-cubes fa-2x me-3"></i>
                                <span class="h1 fw-bold mb-0">Login</span>
                                </div>
                                <h4 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">sign in into your account</h4>
                                <div class="form-outline mb-4">
                                  <label class="form-label m-2" for="form2Example17">{{ form.username.label_tag }}</label>
                                </div>
                                <div id="form2Example27" class="form-control form-control-lg">
                                  {{ form.username }}
                                </div>
                                <div class="form-outline mb-4">
                                  <label class="form-label mt-2" for="form2Example17">{{ form.password.label_tag }}</label>
                                </div>
                                <div id="form2Example27" class="form-control form-control-lg">
                                 {{ form.password }}
                                </div>
                                <div class="pt-1 mb-4">
                                  <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                                </div>
                                <p class="mb-2 pb-lg-2" style="color: #c4c7e7;"><a href="{% url 'account:reset_password' %}"
                                    style="color: #c4c7e7;">forgot your password</a></p>
                                <p class="mb-5 pb-lg-2" style="color: #c4c7e7;">Don't have an account? <a href="{% url 'cafe:home' %}"
                                    style="color: #c4c7e7;">Register here</a></p>
>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  {% endblock %}

  <script>
		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
	</script>

