{% extends 'base_account.html' %}
{% load static %}
{% block title %}reset_password{% endblock %}
  {% block content %}
           <section class="ftco-section">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card " style="border-radius: 1rem; background: linear-gradient(to bottom, #251001, #836a4b);">
                        <div class="row m-3 g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <!-- Center the image within the left column -->
                                <div class="d-flex align-items-center  m-3 h-100">
                                    <img src="{% static 'images/menu-4.jpg' %}" alt="login form" class="img-fluid"
                                        style="border-radius: 1rem 0 0 1rem; margin: 0 auto;" />
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="pt-1 mb-4">
                                   <h3 class="h1 fw-bold mb-0">your password chang successfully</h3>
                                </div>
                                <div class="pt-1 mb-4">
                                   <p class="mb-5 pb-lg-2" style="color: #c4c7e7;"><a href="{% url 'account:User_login' %}"
                                                                                      style="color: #c4c7e7;">login here</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  {% endblock %}