{% extends 'base_account.html' %}
{% load static %}
{% block title %}SignUp{% endblock %}
  {% block content %}
     <div class="container py-5">
         <div class="row d-flex justify-content-center align-items-center">
             <div class="card col-md-10" style="border-radius: 1rem; height: 180vh; background: linear-gradient(to bottom, #251001, #836a4b);">
                 <form action="{% url 'account:Staff_signup' %}" method="post" class=" col-md-6 col-lg-12" enctype="multipart/form-data" novalidate style="color:white">
                     {% csrf_token %}
                     <div class="d-flex justify-content-center m-4 pb-1">
                         <i class="fas fa-cubes fa-2x me-3"></i>
                         <span class="h1 fw-bold mb-0 ">SignUp</span>
                     </div>
                     <div class="d-flex  justify-content-center m-4 pb-1">
                         <h4 class="fw-normal mb-3 pb-3 " style="letter-spacing: 1px;">Create your account</h4>
                     </div>
                     <div class="row justify-content-center m-0 p-0">
                         <div class="col-md-4 mr-4">
                             <div class="form-outline">
                                 <label class="form-label">{{ form.phonenumber.label_tag }}</label>
                             </div>
                             <div class="form2Example27" >
                                 {{ form.phonenumber }}
                                 <div style="font-size: 10px">{{ form.phonenumber.errors }}</div>
                             </div>
                             <div class="form-outline">
                                 <label class="form-label">{{ form.nationalcode.label_tag }}</label>
                             </div>
                             <div class="form2Example27" >
                                 {{ form.nationalcode }}
                                 <div style="font-size: 10px">{{ form.nationalcode.errors }}</div>
                             </div>
                             <div class="form-outline">
                                 <label class="form-label">{{ form.date_of_birth.label_tag }}</label>
                             </div>
                             <div class="form2Example27" >
                                 {{ form.date_of_birth }}
                                 <div style="font-size: 10px">{{ form.date_of_birth.errors }}</div>
                             </div>

                         </div>
                         <div class="col-md-4 ml-4">

                             <div class="form-outline mb-3">
                                 <label class="form-label">{{ form.experience.label_tag }}</label>
                             </div>
                             <div class="form2Example27" >
                                 {{ form.experience }}
                             </div>
                             <div class="form-outline">
                                 <label class="form-label " >{{ form.rezome.label_tag }}</label>
                             </div>
                             <div class="form2Example27" >
                                 {{ form.rezome}}
                             </div>
                             <div class="form-outline">
                                 <label class="form-label">{{ form.profile_image.label_tag }}</label>
                             </div>
                             <div class="form2Example27" >
                                 {{ form.profile_image}}
                             </div>
                             <div class="form-outline">
                                 <label class="form-label">{{ form.guarantee.label_tag }}</label>
                             </div>
                             <div class="form2Example27" >
                                 {{ form.guarantee}}
                             </div>
                         </div>
                     </div>
                     <div class="pt-1 mb-4">
                         <button class="btn btn-dark btn-lg btn-block mt-3" type="submit">Sign Up</button>
                     </div>
                     <p class="mb-2 pb-lg-2" style="color: #c4c7e7;">you have an account? <a href="{% url 'account:User_login' %}" style="color: #c4c7e7;">
                         login here</a></p>
                     <a href="{% url 'cafe:index' %}" style="color: #642c01;">Coffee BLEND Home Page</a>
                 </form>
             </div>
         </div>
     </div>
  {% endblock %}

  <script>
		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){

		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());

		        // If is not undefined

		            $('#quantity').val(quantity + 1);


		            // Increment

		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());

		        // If is not undefined

		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });

		});
	</script>
